$primary-color: rgba(35, 38, 246, 1);
$secondary-color: rgba(231, 231, 254, 1);
$danger-color: rgba(235, 10, 10, 1);

.container {
  margin: 1rem;
  padding: 1rem;
  ul {
      display: block;
      width: 80%;
      margin-left: 5%;
    li {
      list-style: none;
      padding: 0.3rem;

      &:nth-child(odd) {background-color: $secondary-color;}
    }

  }
}
