$primary-color: rgba(35, 38, 246, 1);
$secondary-color: rgba(231, 231, 254, 1);
$danger-color: rgba(235, 10, 10, 1);

.container {
  margin: 1rem;
  padding: 1rem;
  ul {
    display: block;
    width: 80%;
    margin-bottom: 1rem;
    li {
      margin-left: 1rem;
      padding: 0.3rem;
    }
    ol {
      li {
        margin-left: 2.5rem;
      }
    }
  }
}

// Table Formatting
.table {
  width: 100%;
  padding: 0.5rem;
  td{
    padding: 0.5rem 1rem;
  }
  tr:nth-child(even) {
    background-color: $secondary-color;
  }
  thead > tr > td {
    color: $primary-color;
    text-align: center;
    font-size: 2rem;
  }
}
